<div class="checkout-confidence-blocks">
  <div class="confidence-item">
    {% render 'icon-return' %}
    <span>14 DAY RETURNS</span>
  </div>
  <div class="confidence-item">
    {% render 'icon-fast' %}
    <span>FAST DELIVERY</span>
  </div>
  <div class="confidence-item">
    {% render 'icon-kangaroo' %}
    <span>AUSTRALIAN OWNED</span>
  </div>
</div>