<style>
@media (max-width: 749px) {
        #shippingbar-desktop {
          display: none;
        }
   }
</style>
<div class="shipping-bar grid conf" id="shippingbar-desktop">   
  <div  class="grid__item one-sixth">
           <div id="bounce">
		   <p class="grid__item " >&nbsp;</p>
       </div>
  </div>
     <div  class="grid__item one-sixth">
       <div id="bounce">
		   <p class="grid__item " >{% render 'icon-truck' %}<span>FAST DELIVERY</span></p>
       </div>
     </div>
     <div  class="grid__item one-sixth">
       <div id="bounce">
		   <p class="grid__item " >{% render 'icon-return' %}<span>14 DAY RETURNS</span></p>
       </div>
     </div>
     <div  class="grid__item one-sixth">
       <div id="bounce">
		   <p class="grid__item " >{% render 'icon-fast' %}<span>ENORMOUS RANGE</span></p>
       </div>
     </div>
     <div  class="grid__item one-sixth">
       <div id="bounce">
		   <p class="grid__item " >{% render 'icon-kangaroo' %}<span>AUSTRALIAN OWNED</span></p>
       </div>
     </div>
   <div  class="grid__item one-sixth">
           <div id="bounce">
		   <p class="grid__item " >&nbsp;</p>
       </div>
  </div>
</div>