<div class="sidebar-widget {{ block.shopify_attributes }} {{block.settings.html-visibility}}">
{%- if block.settings.title != blank -%}<div class="widget-title">{{block.settings.title}}</div>{%- endif -%}
{%- if block.settings.code != blank -%}{{block.settings.code}}{%- endif -%}
</div>